.Body{
  background: linear-gradient(to left, rgb(51, 219, 248),rgb(197, 238, 240) 50%, rgb(197, 238, 240) 50%, rgb(51, 219, 248) 75%);
  padding-bottom: 0%;
}
.Container{
    margin: 10px auto;
  height: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to left, #6699cc,rgb(161, 237, 241) 50%, rgb(161, 237, 241) 50%, #6699cc 75%);
}
.Margin{
  padding-top: 10px;
  padding-left: 475px;
}

.Container2{
  margin: 200px;
  height: 425PX;
  
  display: flex;
  width: 5rem;
  justify-content: center;
  background: linear-gradient(to left, #6699cc,rgb(161, 237, 241) 50%, rgb(161, 237, 241) 50%, #6699cc 75%);
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
  }

  .Img{
    width: 300px;
    height: 400px;
  }

  .Container3{
    margin: 200px;
  height: 425PX;
  
  display: block;
  width: 5rem;
  justify-content: center;
  background: linear-gradient(to left, #6699cc,rgb(161, 237, 241) 50%, rgb(161, 237, 241) 50%, #6699cc 75%);
  }